node_modules
.next
.expo
dist
build
coverage
.env
.env.*
!.env.example
firebase-debug.log
firestore-debug.log
ui-debug.log
*.local
*.tsbuildinfo
*.log
android
ios
!apps/mobile/android/
!apps/mobile/android/**
!apps/mobile/ios/
!apps/mobile/ios/**
